html
{ height: 100%;
  margin: 0;
  body: 0;
}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
  margin: 0;
  body: 0;
}
.wiskundemenu-iframe {
    width:100%;
    height:100%;
    min-height:1024px;
    border:0;
}
p
{ padding: 0 0 0px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #A4AA04;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #A4AA04;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #1293EE;}

a:hover
{ text-decoration: none;}

.blink { animation: blink 1s steps(5, start) infinite; }
@keyframes blink {
    to {
        visibility: hidden;
    }
}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

/*
ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}
*/
#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #025587;
  height: 240px;}

.concept #header {
  background: #009549;
}

#logo
{ width: 825px;
  position: relative;
  height: 168px;
  background-image: url(logo.png);
  background-repeat: no-repeat;
}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #80FFFF;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 898px;
  height: 72px;
  padding: 0;
  background: #29415D url(menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #1C2C3E url(menu_select.png) repeat-x;}

ul#menu li.inactive a {
    color:gray;
    font-style: italic;
}
ul#menu li.inactive a:hover {
    color:gray;
    font-style: italic;
    background:transparent;
}

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF url(content.png) repeat-y;} 

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

.content
{ text-align: left;
  width: 595px;
  padding: 0;}

.content ul
{ margin: 2px 0 22px 0px;}

.content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 898px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #29425E url(footer.png) repeat-x;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #263C56; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;
}
.ui-tab {
    display:none;
}
.ui-tab.selected {
    display:block;
}
.thread{
}
.thread-meta {
    background-color: rgb(200,200,240);
    font-weight:bold;
}
.thread-meta:hover {
    background-color: rgb(220,220,255);
}
.component {
    width:400px;
    padding:3px 5px;
    font-weight:bold;
}
.component.selected {
    background-color:rgb(100,100,120);
    color:white;
}
.component.processing {
    background-color:red !important;
}
.component:hover, .component.selected:hover {
    background-color:rgb(256,150,150);
}
.subcomponent {
    padding:3px 0px 3px 20px;
	float: left;
	width: 498px;
}
.subcomponent-link {
	float: right;
	width: 58px;
	text-align: right;
}
.subcomponent.processing {
    background-color:red !important;
}
.subcomponent.selected {
    background-color:rgb(150,150,150);
    color:white;
}
.subcomponent:hover, .subcomponent.selected:hover  {
    background-color:rgb(150,150,256);
    color:white;
}
.subcomponent.published {
    background-color:white;
    color:gray;
    border:1px solid gray;
}
.thread .thread-title {
    clear:left;
    background-color: rgb(200,200,240);
    padding:3px 5px;
    font-weight:bold;
}
.thread .thread-title:hover, .thread .thread-title.selected:hover {
    background-color: rgb(220,220,255);
}
.thread .thread-title.selected{
    background-color:rgb(150,150,150);
    color:white;
}
.thread-id {
    width:150px;
    float:left;
    clear:left;
    padding:3px 10px 3px 0px;
    background-color:transparent;
}

.thread-title {
    padding:3px 5px;
    background-color:transparent;
}
.button-thread {
    float:left;
}
#pub-thread-container {
    height:400px;
    overflow:auto;
}
.thread-subject {
    background-color: #39516D;
    font-weight:bold;
    font-size: 110%;
    margin-top: 3px;
    cursor: pointer;
}
.thread-subject:hover {
    background-color: #516885;
}
.thread-subject-title {
    padding: 5px;
    color: #fff;
}
.thread-subject-items {
    background-color: #fff;
}
.thread-content {
    display:none;
}
.thread-content.open {
    display:block;
}
.publish-button {
    background-color: rgb(200,200,240);
    padding:3px 10px;
    color:white;
    font-weight:bold;
    width:100px;
    text-align:center;
    margin-top:20px;
}
.publish-button:hover {
    background-color: rgb(220,220,255);
}
.publish-button.disabled {
    background-color: rgb(220,0,0);
    border:1px solid rgb(200,0,0);
    color:rgb(220,220,220);
}
.button {
    background-color: rgb(200,200,240);
    padding:3px 10px;
    color:white;
    font-weight:bold;
    text-align:center;
    margin-top:20px;    
}
.button:hover {
    background-color: rgb(220,220,255);
}
.button.disabled {
    background-color: rgb(220,220,220);
    border:1px solid rgb(200,200,240);
    color:rgb(220,220,220);
}
.button.processing {
    background-color: rgb(220,0,0);
    color:white;
}
.button.processing a {
    color:white;
}
.button a {
    text-decoration:none;
    color:#777;
}
#log-contents {
    height:600px;
    width:800px;
    overflow:auto;
    white-space:nowrap;
}
.log-entry {
    padding:3px 10px;
}
.log-entry.error {
    background-color:rgb(255,220,220);
    color:black;
}
.log-entry.info {
    background-color:rgb(220,220,255);
    color:black;
}
.choose-leerlijn {
    background-color: rgb(200,200,240);
    color:white;
    padding:5px;
    cursor: pointer;
    color: #777;
}
.choose-leerlijn:hover {
    background-color: #39516D;    
}
.choose-leerlijn-subject {
    background-color: #39516D;
    cursor: pointer;
    margin:5px 0px;
    font-weight: bold;
}
.choose-leerlijn-subject:hover {
    background-color: #516885;    
}
.choose-leerlijn-subject-title {
    color:white;
    padding:5px;
}
/* ------------ */
/* account      */
/* ------------ */
#account-info {
    color:white;
    position:absolute;
    bottom:20px;
    right:0;
    margin: 40px 0px 0px 0px;
}
#account-info #info-logged-in {
    display:none;
}
#account-info #info-logged-in.visible {
    display:block;
}
#account-info #info-not-logged-in {
    display:none;
}
#account-info #info-not-logged-in.visible {
    display:block;
}
.account-button {
    display:inline;
    padding-left:20px;
    
}
.account-button:hover {
    font-weight:bold;
}
#dialog {
    background-color:white;
    width:340px;
    height:110px;
    padding:20px;
    position:relative;
}
#dialog .panel {
    padding:20px;
    width:330px;
    height:110px;
    background-color:white;
    box-shadow: 0px 0px 24px 1px #D0D0D0;
}
#dialog .fieldname {
    width:150px;
    padding:3px 5px;
    float:left; 
    clear:left;
}
#dialog input {
    display:block;
    float:left;
    width:150px;
}

#dialog #submit-button {
    float:right;
    margin:10px 18px 10px 0px;
}
#dialog #forgot-password-button {
    float:left;
    margin:10px 0px;
}
#dialog #login-message {
    color:red;
    padding:3px 5px;
    height:20px;
    margin:0px 0px 5px 0px;
}
