GAE/Mathunited/.metadata/
GAE/Mathunited/war/WEB-INF/classes/
GAE/Mathunited/war/WEB-INF/lib/
GAE/Mathunited/.settings/org.eclipse.wst.validation.prefs
GAE/.metadata/
GAE/.recommenders/
Author-java/.metadata/
Author-java/MathUnited/target/
Author-java/MathUnited/.settings/
